@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.projects-container:not([data-count="0"]) .projects-addNew {
  display: none;
}
.hamburger {

  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
}

.hamburger {
  border-radius: 0.25rem;
  aspect-ratio: 1;
  position: relative;
}

.hamburger[data-open="true"] .hamburger-top,
.hamburger[data-open="true"] .hamburger-bottom {
  top: 50%;
  transition: top 125ms ease, transform 200ms 125ms ease, max-width 0s 125ms,
    translate 0ms 125ms ease;
}

.hamburger[data-open="true"] .hamburger-top {
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger[data-open="true"] .hamburger-bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
  max-width: 60%;
  translate: 0 0;
}

.hamburger:focus-visible {
  outline-width: 1px;
  outline-style: solid;
}

.hamburger-top,
.hamburger-bottom {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  height: max(2px, 1%);
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: top 125ms 200ms ease, transform 200ms ease,
    max-width 0s 200ms ease, translate 0s 200ms ease;
}

.hamburger-top {
  top: 40%;
}
.hamburger-bottom {
  top: 60%;
  max-width: 30%;
  translate: -50% 0;
}

.task-completed[data-completed="true"]{
  background-color: #0f0f0f;
}
@media (prefers-color-scheme: dark) {
  .task-completed[data-completed="true"]{
    background-color: #f0f0f0;
  }
}

.task-completed[data-completed="true"] ~ .task-name{
  text-decoration: line-through;

    text-decoration-thickness: 2px;
}